{% extends 'base.html' %}
{% load static %}
{% block body %}

  <!-- about section -->
<br>
<br>
  <section class="main-content">
    <style>
    .parent { 
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
    
    .child {
       text-align: left;
    }
      
      .child img:nth-of-type(1){
        width: 100%;
      }
      
      
      .title {
        font-family: Graphen;
        font-size: xx-large;
      }
      
      table {
        width: 100%;
      }
    
    </style>  
    <div class="parent"> 
      
      <div class="child">
        <h1 class="title">Our Story</h1>
          <p><img src="" alt=""></p>
    <p>Since 1971 when David &amp; Cathy Harris opened their first store in Villawood, we've believed in something greater than just selling fresh food. We’ve believed in nature itself. The land, the sea, the air, the elements. It’s a remarkable thing. It brings families together, supports communities, and gives farmers a means. It offers nutrients to our bodies, and joy to our taste buds.</p>
    <p>At Harris Farm Markets, we don’t just respect it, we’re driven by it. Our prices, our produce, our specials– all determined by nature. It enriches everyone and everything.</p>
    <p>Which is exactly why we’re doing our best to make it all it can be. From sustainable initiatives like Imperfect Picks, to showing love for local farmers and producers, we believe that all our actions can make a real, positive difference.</p>
    <p>And we believe that moving with nature isn’t just better for the environment. It’s better for our customers too. ‘Cos sometimes nature sees fit to provide us with a bounty of blueberries. And we think that’s pretty special – so we put them on special!</p>
    <p>Better tasting produce from sustainable suppliers. Bigger value from unexpectedly bigger harvests. More variety from truly seasonal conditions. The highest quality which can only come from years of experience and a close relationship with farmers and their land.</p>
    <p>For over 50 years we’ve remained 100% family owned and operated. We’re 26 (and counting) stores across Sydney, NSW and QLD and home to over 3,000 wonderful employees all with a common purpose, to reconnect Aussies with the joy of food. It’s this purpose that see’s us continue to bring the best that nature has to offer to you our customers each day. Because we stand for more than just the good food we sell.</p>
    <p><strong>We’re for the greater goodness.</strong></p>
    <p>&nbsp;</p>
    <script>// <![CDATA[
    var fb_param = {};
    fb_param.pixel_id = '6008285336022';
    fb_param.value = '0.00';
    fb_param.currency = 'AUD';
    (function(){
      var fpw = document.createElement('script');
      fpw.async = true;
      fpw.src = '//connect.facebook.net/en_US/fp.js';
      var ref = document.getElementsByTagName('script')[0];
      ref.parentNode.insertBefore(fpw, ref);
    })();
    // ]]></script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6008285336022&amp;value=0&amp;currency=AUD"></noscript>
                
    
    
            
    
        
        
    
        
      </div>
      
      
      
    </div>
    
    
    
    
    
      </section>
  <!-- end about section -->

  <!-- info section -->


{% endblock %}