{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-sm-12 my-3">
        <h3 class="text-center alert alert-danger"> Shopping Cart</h3>
    </div>
        <div class="container-fluid">
                <div class="row my-5">
                    <div class="col-sm-9 col-md-6 col-lg-8">
                        {% for cart in carts %}
                        <table class="table table-success">
                            <thead>
                                <tr>
                                    <th scope="row"></th>
                                    <th>Product </th>
                                    <th>Name</th>
                                    <th>Quantity </th>
                                    <th>Price/Kg</th>
                                </tr>
                            </thead>
                        <tbody>
                                <tr>
                                    <td scope="col"></td>
                                    <td><img src="{{cart.fruits.image.url}}" height="100" width="216"><br><br>
                                        <button type="submit" class="bg-dark text-light remove-cart" pid="{{cart.fruits.id}}">REMOVE</button>
                                        <button type="submit" class="bg-dark text-light" pid="{{cart.fruits.id}}">SAVE FOR LATER</button></td>
                                    <td>{{cart.fruits.name}}</td>
                                    <td><a class="minus-cart btn" type="submit" pid="{{cart.fruits.id}}"><i class="fas fa-minus-square"></i></a>
                                        {{cart.quantity}} Kg <a class="plus-cart btn"  type="submit" pid="{{cart.fruits.id}}"><i class="fas fa-plus-square"></i></a></td>
                                    <td>{{cart.fruits.price_per_kg}}</td>
                                </tr>
                        </tbody>
                        </table>
                        {% endfor %}
                    </div>
                    <div class="col-sm-3 col-md-2 col-lg-4">
                        <table class="table table-warning">
                            <thead>
                                <tr>
                                    <th scope="row"></th>
                                    <th>TYPE </th>
                                    <th>VALUE</th>
                                </tr>
                            </thead>
                        <tbody>
                                <tr>
                                    <td scope="col"></td>
                                    <td>
                                        <p>AMOUNT</p>
                                        <p>SHIPPING CHARGE</p>
                                        <p>TOTAL AMOUNT</p>
                                    </td>

                                    <td>
                                            <p>{{amount}}</p>
                                            <p>70</p>
                                            <p>{{totalamount}}</p>

                                        
                                        
                                    </td>
                                    
                                    
                        </tbody>
                        </table>
                        <a href="{% url 'checkout' %}"><button type="submit" class="btn btn-primary">Place Order</button></a>
            
                    </div>
                    <div class="container-fluid">
                        <div class="row my-5">
                            <div class="col-sm-9 col-md-6 col-lg-8">
                                <h3><strong>Saved For Later</strong></h3><br>
                                {% for cart in carts %}
                                <table class="table table-success">
                                    <thead>
                                        <tr>
                                            <th scope="row"></th>
                                            <th>Product </th>
                                            <th>Name</th>
                                            <th>Quantity </th>
                                            <th>Price/Kg</th>
                                        </tr>
                                    </thead>
                                <tbody>
                                        <tr>
                                            <td scope="col"></td>
                                            <td><img src="{{cart.fruits.image.url}}" height="100" width="230"><br><br>
                                                <button type="submit" class="bg-dark text-light remove-cart btn-size" pid="{{cart.fruits.id}}">REMOVE</button>
                                                {% comment %} {% if not request.user.is_authenticated %} {% endcomment %}
                                                <form action="/add_cart" style="display: inline-block;>
                                                    {% csrf_token %}
                                                     <input type="hidden" value="{{detail.id}}" name="pid">
                                                     <button type="submit" class="btn bg-dark text-light btn-size" >MOVE TO CART</button>
                                                </form>
                                            </td>    
                                                    {% comment %} {% endif %} {% endcomment %}
                                                {% comment %} <button type="submit" class="bg-dark text-light remove-cart" pid="{{cart.fruits.id}}">MOVE TO CART</button> {% endcomment %}
                                            <td>{{cart.fruits.name}}</td>
                                            <td><a class="minus-cart btn" type="submit" pid="{{cart.fruits.id}}"><i class="fas fa-minus-square"></i></a>
                                                {{cart.quantity}} Kg <a class="plus-cart btn"  type="submit" pid="{{cart.fruits.id}}"><i class="fas fa-plus-square"></i></a></td>
                                            <td>{{cart.fruits.price_per_kg}}</td>
                                        </tr>
                                </tbody>
                                </table>
                                {% endfor %}
                            </div>
                </div>
                </div>
       </div>
{% endblock %}