{% extends 'base.html' %}
{% load static %}
{% block body %}


    <div class="col-sm-12 ">
        <h3 class="text-center alert alert-danger my-3">Login Page</h3>
    </div>
</div>

      <div class="layout_padding4-top">
        <div class="row">
          <div class="col-lg-4 offset-lg-2 col-md-5 offset-md-1">
            <form action="" method="post">
            {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="er">{{error}}</p>
                    {% endfor %}
                {% endif %}
            {% for fm in form %}
                {{fm.label_tag}} {{fm}}<br> {{fm.errors|striptags}}<br><br>
            {% endfor %}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            <a href="/signup/" class="btn btn-lg center-block">Don't have an account? Register Now</a>

          </div>
        </div>
      </div>
    </div>


{% endblock %}