{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>My Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      /* Set height of the grid so that it fills the screen */
      .row.content {height: 100%}
      
      /* Set gray background color and 100% height */
      .sidenav {
        background-color: #f1f1f1;
        height: 100%;
      }
      
      /* On small screens, set height to 'auto' for the grid */
      @media screen and (max-width: 767px) {
        .row.content {height:auto;} 
      }
    </style>
  </head>
  <body>

    <!-- First section -->
    <div class="container-fluid" style="padding-top: 35px;">
        <div class="container-fluid" style="padding-left: 80px;">
      <div class="row">
        <div class="col-sm-12 col-md-2 sidenav">
            <div class="container">
                <div class="img-box" style="display: inline-block;">
                  <img src="{% static 'images/profile.png' %}" alt="" style="border-radius: 50%; margin-top: 20px;">
                </div>
                <br><br>
                <div class="detail-box" style="display: inline-block;">
                  <h3><strong>Hello,</strong></h3>
                  <h5><strong>Varun Kumar</strong></h5>
                </div>
              </div>
              
          <hr>
          
          <button class="btn btn-primary">My Orders</button><br><br>
          <button class="btn btn-primary">Account Settings</button><br><br>
          <button class="btn btn-primary">Payments</button><br><br>
          <button class="btn btn-primary">My Stuff</button><br><br>
          <button class="btn btn-danger">Logout</button><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <!-- Third section -->
        <div class="col-sm-12 col-md-8" style="padding-top: 0px;">
            <div class="col-sm-12 col-md-8" style="padding-left: 40px;">
          <h4>Personal Information <button type="button" class="btn btn-primary" >Edit</button><br></h4>
          
          <form>
            <div class="form-group">
              
              <input type="text" class="form-control" id="first_name" placeholder="Enter first name">
            </div>
            <div class="form-group">
              
              <input type="text" class="form-control" id="last_name" placeholder="Enter last name">
            </div>
            <div class="form-group">
             
              <select class="form-control" id="gender">
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </form><br><br>

          <h4>Email Address <button type="button" class="btn btn-primary">Edit</button><br></h4>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
          </form><br><br>

              
              <h4>Mobile Number <button type="button" class="btn btn-primary">Edit</button> </h4>
              <div class="form-group">
                <input type="tel" class="form-control" id="mobile" value="555-555-5555">
              </div>